
/* Code */

article pre {
    padding: 1em !important;
    overflow: auto !important;
    background: #555 !important;
    color: #fff;
}

article pre,
article pre code {
    white-space: pre !important;
    word-break: normal !important;
    word-wrap: normal !important;
}

.hljs {
    color: #fff !important;
}

.hljs-keyword {
    color: #0b0 !important;
}

.hljs-built_in {
    color: #ffc !important;
}


.hljs-string {
    color: #08c !important;
}

.hljs-params, .hljs-function {
    color: #f60;
}

.hljs-tag .hljs-title {
    color: #f80 !important;
}

.hljs-attribute {
    color: gainsboro;
}

.hljs-tag .hljs-value {
    color: #08c !important;
}

.hljs-comment {
    color: #888 !important;
}

.hljs-number {
    color: #deb887;
}
